@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");
* {
  box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
  font-size: 18px;
}

body .container {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
}

body .flex {
  display: flex;
}

body .flex > * {
  flex: 1;
}

body .btn {
  padding: 10px 30px;
  border-radius: 10px;
  cursor: pointer;
  background-color: #fa5757;
  color: #fff;
  border: none;
}

body .btn.white {
  background-color: #fff;
  color: #252b46;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 15px 0 rgba(0, 0, 0, 0.19);
}

body .btn.blue {
  background-color: #5368df;
}

body nav {
  align-content: space-between;
  padding-top: 20px;
  font-size: 14px;
  font-weight: light;
}

body nav div {
  margin: auto 0;
}

body nav ul {
  list-style: none;
}

body nav ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: #252b46;
}

body header {
  justify-content: space-between;
  padding-top: 60px;
  position: relative;
}

body header div {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  margin-right: 30px;
  z-index: 10;
}

body header div h1 {
  font-size: 2.5em;
  font-weight: 500;
  color: #252b46;
  line-height: 1.2;
  margin-bottom: 0;
}

body header div p {
  color: #9194a1;
  line-height: 1.5;
  font-size: 1em;
  width: 90%;
}

body header div .buttons {
  flex-direction: row;
  justify-content: flex-start;
  outline: inherit;
  border: none;
}

body header div .buttons :first-child {
  margin-right: 15px;
}

body header div .dkimage {
  margin-right: -80px;
}

body header::after {
  content: "";
  width: 40%;
  height: 60%;
  bottom: 0;
  right: -13.3%;
  overflow: hidden;
  border-top-left-radius: 300px;
  border-bottom-left-radius: 300px;
  background-color: #5368df;
  position: absolute;
  z-index: 0;
  opacity: 0.9;
}

body .feature {
  margin-top: 18vh;
}

body .feature .deet h2 {
  text-align: center;
  color: #252b46;
  font-size: 1.7em;
  font-weight: 500;
  margin-bottom: 20px;
}

body .feature .deet .fp {
  width: 45%;
  margin: 20px auto 50px auto;
  text-align: center;
  line-height: 1.5;
  color: #9194a1;
}

body .feature .htab {
  text-align: center;
  position: relative;
}

body .feature .htab ul {
  list-style: none;
}

body .feature .htab ul li a {
  text-decoration: none;
  color: #252b46;
  font-size: 0.9em;
  cursor: pointer;
}

body .feature .tablinks.active {
  padding-bottom: 10px;
  border-bottom: 2px solid orangered;
}

body .feature .tabs {
  position: relative;
  margin-bottom: 60px;
}

body .feature .tabs::after {
  content: "";
  width: 40%;
  height: 70%;
  bottom: -14%;
  left: -13.3%;
  overflow: hidden;
  border-top-right-radius: 300px;
  border-bottom-right-radius: 300px;
  background-color: #5368df;
  position: absolute;
  opacity: 0.9;
  z-index: 0;
}

body .feature .tabs .tab {
  display: none;
  margin-top: 50px;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 10;
}

body .feature .tabs .tab .tab-p p {
  width: 80%;
  line-height: 1.5;
  color: #9194a1;
}

body .feature .tabs .tab.show {
  display: flex;
}

body .extension .deet {
  padding-top: 40px;
}

body .extension .deet h2 {
  text-align: center;
  color: #252b46;
  font-size: 1.7em;
  font-weight: 500;
  margin-bottom: 20px;
}

body .extension .deet .fp {
  width: 45%;
  margin: 10px auto 40px auto;
  text-align: center;
  line-height: 1.5;
  color: #9194a1;
}

body .extension .cards {
  width: 1000px;
  max-width: 80%;
  margin: 0 auto;
  margin-bottom: 50px;
  display: flex;
}

body .extension .cards .card {
  border-radius: 30px;
  border: 1px solid whitesmoke;
  text-align: center;
  margin: 10px;
  padding: 20px 0 20px 0;
  box-shadow: 16px 8px 16px -12px rgba(113, 126, 183, 0.75);
  -webkit-box-shadow: 16px 8px 16px -12px rgba(113, 126, 183, 0.75);
  -moz-box-shadow: 16px 8px 16px -12px rgba(113, 126, 183, 0.75);
}

body .extension .cards .card h3 {
  font-size: 1em;
  color: #252b46;
  margin-bottom: 0;
}

body .extension .cards .card p {
  color: #9194a1;
  font-size: 0.8em;
  margin-top: 5px;
}

body .extension .cards .card .dots {
  width: 80%;
  margin: 10px 0 10px 0;
}

body .extension .cards .card2 {
  margin-top: 40px;
  margin-bottom: -20px;
}

body .extension .cards .card3 {
  margin-top: 70px;
  margin-bottom: -40px;
}

body .faq .deet {
  padding-top: 40px;
}

body .faq .deet h2 {
  text-align: center;
  color: #252b46;
  font-size: 1.7em;
  font-weight: 500;
  margin-bottom: 20px;
}

body .faq .deet .fp {
  width: 45%;
  margin: 10px auto 40px auto;
  text-align: center;
  line-height: 1.5;
  color: #9194a1;
}

body .faq .accord {
  width: 800px;
  max-width: 100%;
  margin: 0 auto;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}
